# Archivos generados por Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
**/build/

# Archivos de Android Studio/IntelliJ
.idea/
*.iml
local.properties

# Archivos de entorno
.env
*.env

# Archivos de Gradle
android/.gradle/
android/app/build/